.text {
    font-size: 220px;
    font-weight: bold;
    text-align: center;
}

.text--even {
    color: blue;
    border: 20px blue solid;
}

.text--odd {
    color: red;
    border: 20px red solid;
}